In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Iris_data_sample.csv")

In [3]:
df

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.dtypes

Unnamed: 0         int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [5]:
df = pd.read_csv("Iris_data_sample.csv", index_col=0)

In [6]:
df.head()

  SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm      Species
1           5.1           3.5           1.4           0.2  Iris-setosa
2           4.9           NaN           1.4           0.2          NaN
3           4.7           3.2           1.3           0.2  Iris-setosa
4            ??           3.1           1.5           0.2  Iris-setosa
5             5           3.6           ###           0.2  Iris-setosa

In [7]:
df = pd.read_csv("Iris_data_sample.csv", index_col=0, na_values=["??"])

In [8]:
df.head()

   SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm      Species
1            5.1           3.5           1.4           0.2  Iris-setosa
2            4.9           NaN           1.4           0.2          NaN
3            4.7           3.2           1.3           0.2  Iris-setosa
4            NaN           3.1           1.5           0.2  Iris-setosa
5            5.0           3.6           ###           0.2  Iris-setosa

In [9]:
df.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [10]:
df = pd.read_csv("Iris_data_sample.csv", index_col=0, na_values=["??", "###"])

In [11]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1            5.1           3.5            1.4           0.2  Iris-setosa
2            4.9           NaN            1.4           0.2          NaN
3            4.7           3.2            1.3           0.2  Iris-setosa
4            NaN           3.1            1.5           0.2  Iris-setosa
5            5.0           3.6            NaN           0.2  Iris-setosa

In [12]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [13]:
df.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [14]:
df_xls = pd.read_excel("Iris_data_sample.xlsx", sheet_name="Iris_data")

In [15]:
df_xls

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
df_xls = pd.read_excel("Iris_data_sample.xlsx", sheet_name="Iris_data", index_col=0, na_values=["??", "###"])

In [17]:
df_xls

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [18]:
df_xls.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
# Reading Text File

In [19]:
df_txt = pd.read_table("Iris_data_sample.txt")

In [20]:
df_txt

     "SepalLengthCm" "SepalWidthCm" "PetalLengthCm" "PetalWidthCm" "Species"
0                    1 1 5.1 3.5 1.4 0.2 "Iris-setosa"
1                      2 2 4.9 3 1.4 0.2 "Iris-setosa"
2                    3 3 4.7 3.2 1.3 0.2 "Iris-setosa"
3                    4 4 4.6 3.1 1.5 0.2 "Iris-setosa"
4                      5 5 5 3.6 1.4 0.2 "Iris-setosa"
..                                                 ...
145             146 146 6.7 3 5.2 2.3 "Iris-virginica"
146             147 147 6.3 2.5 5 1.9 "Iris-virginica"
147               148 148 6.5 3 5.2 2 "Iris-virginica"
148           149 149 6.2 3.4 5.4 2.3 "Iris-virginica"
149             150 150 5.9 3 5.1 1.8 "Iris-virginica"

[150 rows x 1 columns]

In [21]:
df_txt = pd.read_table("Iris_data_sample.txt", delimiter=" ", index_col=0) # or sep=" "

In [22]:
df_txt

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
df_txt = pd.read_table("Iris_data_sample.txt", delimiter=" ", index_col=0,
                       usecols=["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm", "Species"])

In [24]:
df_txt

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]